In [4]:
import pandas as pd

df  = pd.read_csv('outbond_semi_large_abhi.csv')


df.info()
df.columns

df['tracking_id_merchant'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   shipment_facility_current_name  145 non-null    object
 1   shipment_facility_nexthop_name  145 non-null    object
 2   shipment_service_tier           145 non-null    object
 3   shipment_tms_cutoff             145 non-null    object
 4   tracking_id_merchant            145 non-null    int64
dtypes: int64(1), object(4)
memory usage: 5.8+ KB

count     145.000000
mean       54.103448
std       150.493758
min         1.000000
25%         2.000000
50%         7.000000
75%        19.000000
max      1071.000000
Name: tracking_id_merchant, dtype: float64

In [8]:
df.shape

len(df)

145

In [10]:
df[["tracking_id_merchant"]]

     tracking_id_merchant
0                     422
1                     509
2                     363
3                     382
4                     499
..                    ...
140                     2
141                     1
142                     1
143                     1
144                     1

[145 rows x 1 columns]