In [2]:
import pandas as pd

df  = pd.read_csv('ykb_pendency_automation_PPPH.csv')


df.info()
df.columns

df['tracking_id_ekart'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   bag_facility_source_name        269 non-null    object
 1   bag_facility_destination_name   269 non-null    object
 2   bag_type_ph                     269 non-null    object
 3   tracking_id_ekart               269 non-null    int64
 4   bag_id                          269 non-null    int64
 5   shipment_facility_current_name  269 non-null    object
dtypes: int64(2), object(4)
memory usage: 12.7+ KB

count     269.000000
mean      466.505576
std       940.281371
min         1.000000
25%         2.000000
50%        18.000000
75%       380.000000
max      5159.000000
Name: tracking_id_ekart, dtype: float64

In [3]:
df.shape

len(df)

269

In [5]:
df[["tracking_id_ekart"]]

     tracking_id_ekart
0                  292
1                 2297
2                 5159
3                   78
4                 1744
..                 ...
264                  1
265                  1
266                  2
267                  1
268                  1

[269 rows x 1 columns]

In [3]:
from datetime import datetime
import pytz
print(datetime.now())


time_zone = pytz.timezone('UTC')
current_time= datetime.now(time_zone)
print(current_time)

2023-11-26 13:10:45.503371
2023-11-26 07:40:45.503659+00:00